@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<ChatMessage>

@{
}
<h1>@Model.First().ChatName</h1>

<form class="input" asp-action="exit" asp-controller="Chat">
    <input type="hidden" name="Nickname" value=@User.Identity.Name />
    <input type="hidden" name="chatId" value="@Model.First().ChatId" />
    <input type="hidden" name="TimeOfPosting" />
    <p class="exit">
        <input type="submit" class="" value="Выйти из чата" />
    </p>
</form>

@foreach (var message in Model)
{
    <form asp-action="DelMes" asp-controller="Chat">

        @if (message.Nickname == User.Identity.Name)
        {
            <p class="send">
                @message.Nickname <br>
                @message.TimeOfPosting - @message.Message
                <input type="hidden" value="@message.ChatId" name="chatId">
                <input type="hidden" value="@message.Id" name="mesId">
                <input type="submit" value="x" class="bg-transparent border-0" style='float: right'/>
            </p>
        }
        else
        {
            <p class="receive">
                @message.Nickname <br>
                @message.TimeOfPosting - @message.Message
            </p>
        }
    </form>
}


<form asp-action="send" asp-controller="Chat">
    <p class="inputform">
        <input type="hidden" name="Nickname" value=@User.Identity.Name />
        <input type="hidden" name="ChatName" value="@Model.First().ChatName" />
        <input type="hidden" name="ChatId" value="@Model.First().ChatId" />
        <input type="hidden" name="TimeOfPosting" />

        <input type="text" name="Message" class="inputtext" />
        <input type="submit" class="buttomsend" value="Отправить" />
    </p>
</form>

<style>

    
</style>


